html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* use 100vh instead of 100% for full viewport height */
}

.content {
  flex: 1;
}